<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("../partials/head") %>
</head>
<body>
    <header class="header-profile">
        <%- include("../partials/navUser") %>

    </header>

    <div class="form-edit ">    


        <div class="accordion" id="accordionExample">
        <!--contacto-->
        <div class="card card-edit">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
             Editar Datos de contacto 
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <!--Formulario-->
                <div class=" container col-8 "  id="edit" >
                    <form role="form " method="POST">
                        <h4  class="Titulo-edit"> Datos de contacto</h4>
                        <div class="form-group row ">
                            
                            <label class="col-lg-3 col-form-label form-control-label">First name</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="<%= user.nombre%>" name="name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="<%=user.apellido%>" name="lastName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="email" value="<%= user.email%>" disabled="disabled">
                            </div>
                        </div>                                                   
                        
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">direccion</label>
                            <div class="col-lg-6">
                                <input class="form-control" type="text" value="<%= user.direccion%>" placeholder="direccion" name="direccion">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Pais</label>
                            <div class="col-lg-3">
                                <input class="form-control" type="text" value="<%= user.pais%>" placeholder="pais" name="pais">
                            </div>
                            <label class="col-lg-2 col-form-label form-control-label">ciudad</label>
                            <div class="col-lg-3">
                                <input class="form-control" type="text"  value="<%= user.ciudad%>" placeholder="ciudad" name="ciudad">
                            </div>
                        </div>
                        
                        
                       
                        <div class="botonesedit">
                            
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-danger" value="Cancel">
                                <input method="POST" type="submit" class="btn btn-success" value="Save Changes">
                            </div>
                        </div>

                        
                        
                    </form>
            
                    
                    
                </div>
                <!-- fin Formulario-->                

            </div>
          </div>
        </div>

        <!--contraseña-->
        <div class="card card-edit">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Cambiar Contraseña
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <!--Formulario-->

                <div class="col-6  container" id="reset-pass">
                    <form action="POST" role="form ">
                        <h4 class="Titulo-edit"> Cambio de Contraseña</h4>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Password</label>
                            <div class="col-lg-6">
                                <input class="form-control" type="password" placeholder="Ingrese password" name="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Confirme password</label>
                            <div class="col-lg-6">
                                <input class="form-control" type="password" placeholder="confirme password"  name="confirmpassword">
                            </div>
                        </div>

                        <div class="botonesedit">
                            
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-danger" value="Cancel">
                                <input method="POST" type="submit" class="btn btn-success" value="Save Changes">
                            </div>
                        </div>

                        
                
                    </form>
                </div>
                <!--Fin Formulario-->

            </div>
          </div>
        </div>

        <!--delete-->
        <div class="card card-edit" >
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Eliminar cuenta
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <!--delete for-->
                
                <form class="delete" method="POST" action="/users/delete?_method=DELETE">
                    <div class="alert alert-danger" role="alert">
                        ¡Estas Seguro de eliminar tu cuenta !
                        
                    </div>
                    <a href="users/profile" style="font-weight: bold; color: black; text-decoration: none;"> Back</a>
                    <input type="submit" class="col-xs- btn btn-danger float-right" value="delete">
                </form>
                <!-- fin delete form-->

            </div>
          </div>
        </div>

        </div>
    
    </div>

    
 




    <!--footer-->
        <%- include("../partials/footer") %>
    
  
</body>
</html>