<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("../partials/head") %>
</head>
<body>
    <header class="header-profile">
        <%- include("../partials/navUser") %>

    </header>

    <div id="body-edit">

    <main id=""> 

  
    

    <div class="tab-pane container col-8 "  id="edit" >
        <form role="form " method="POST">
            <h4> Datos de contacto</h4>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">First name</label>
                <div class="col-lg-9">
                    <input class="form-control" type="text" value="<%= user.nombre%>" name="name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                <div class="col-lg-9">
                    <input class="form-control" type="text" value="<%=user.apellido%>" name="lastName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Email</label>
                <div class="col-lg-9">
                    <input class="form-control" type="email" value="<%= user.email%>" disabled="disabled">
                </div>
            </div>                                                   
            
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">direccion</label>
                <div class="col-lg-9">
                    <input class="form-control" type="text" value="<%= user.direccion%>" placeholder="direccion" name="direccion">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"></label>
                <div class="col-lg-6">
                    <input class="form-control" type="text" value="<%= user.pais%>" placeholder="pais" name="pais">
                </div>
                <div class="col-lg-3">
                    <input class="form-control" type="text"  value="<%= user.ciudad%>" placeholder="ciudad" name="ciudad">
                </div>
            </div>
            
            
           
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"> </label>
                <div class="col-lg-9">
                    <input type="reset" class="btn btn-secondary" value="Cancel">
                    <input method="post" type="submit" class="btn btn-primary" value="Save Changes">
                </div>
            </div>
        </form>

        
        <form method="POST" action="/users/delete?_method=DELETE">
            <input type="submit" class="col-2 btn btn-danger float-right" value="delete">
        </form>
    </div>

    
</main> 
<main class="container col-4  " id="reset-pass">
    <form action="POST">
        <h4> Cambio de Contraseña</h4>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Password</label>
            <div class="col-lg-9">
                <input class="form-control" type="password" placeholder="Ingrese password" name="password">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
            <div class="col-lg-9">
                <input class="form-control" type="password"  name="confirmpassword">
            </div>
        </div>

    </form>
</main>

</div>


    <footer>
        <%- include("../partials/footer") %>
    </footer>
  
</body>
</html>