<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>



</head>

<body>
    <nav class="header-profile">
        <%- include("../partials/navUser") %>
    </nav>




    <div class="container">
        <div class="row my-2">

            <div class="col-lg-4 order-lg-1 text-center">
                <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
                <h6 class="mt-2 ">Upload a different photo</h6>
                <form action="" method="POST" enctype="multipart/form-data">
                    <input type="file" name="avatar" class="form-control-file">
                    <button type="submit">subir</button>

                </form>

            </div>




            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a data-target="#profile" data-toggle="tab" class="nav-link ">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a data-target="#messages" data-toggle="tab" class="nav-link ">Messages</a>
                    </li>

                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        <h5 class="mb-3">User Profile</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <h6>Nombre</h6>
                                <p>
                                    <%= user.nombre%>
                                </p>
                                <h6>apellido</h6>
                                <p>
                                    <%= user.apellido%>.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <h6>Direccion </h6>
                                <p>
                                    <%= user.direccion%>
                                </p>

                                <h6>email</h6>
                                <p><%= user.email%></p>


                                <a class="col-3 btn btn-danger float-right" href="/users/profile/edit">Editar</a>


                            </div>

                            <div class="col-md-12">
                                <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Compras
                                    recientes </h5>
                                <table class="table table-sm table-hover table-striped">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong>cancelada</strong> llego 01-01-25 <strong> Order Detail</strong>
                                                <%- include("../partials/calificacion") %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>en camino</strong> llego 01-01-25 <strong> Order Detail</strong>


                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Entregado</strong> llego 01-01-25 <strong> Order Detail</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Entregado</strong> llego 01-01-25 <strong> Order Detail</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Entregado</strong> llego 01-01-25 <strong> Order Detail</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="messages">
                        <div class="alert alert-info alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a> This is an <strong>.alert</strong>.
                            Use this to show important messages to the user.
                        </div>
                        <table class="table table-hover table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link
                                        to the latest summary report from the..
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="float-right font-weight-bold">Yesterday</span> There has been a
                                        request on your account since that was..
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="float-right font-weight-bold">9/10</span> Porttitor vitae ultrices
                                        quis, dapibus id dolor. Morbi venenatis lacinia rhoncus.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="float-right font-weight-bold">9/4</span> Vestibulum tincidunt
                                        ullamcorper eros eget luctus.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="float-right font-weight-bold">9/4</span> Maxamillion ais the fix
                                        for tibulum tincidunt ullamcorper eros.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>

     <!--footer-->
        <%- include("../partials/footer")%>
    


    

</html>