<!DOCTYPE html>
<html lang="en">
    <head>
       <%- include("../partials/head") %>
      
      </head>
<body >
  <div class="container-fluid">

    <header>
      <%- include("../partials/header") %>
    </header>

    <div class="card mb-3" style="max-width: 725px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="<%=productos.imagen%>"class="card-img" alt="imagen_pizza">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title"><%=productos.nombre%></h1>
            <h2 class="card-text"><small><%=productos.detalle%>.</small></h2>
            <h3 class="card-text">$<%=productos.precio_grande%></h3>
          </div>
        </div>
      </div>
    </div>
  
    
<!-- Items-->
    <section class="container ">
      <div class="row">
        <section class="col-8 "> 

        </section>

      </div>
    </section>
      
  
      
      <footer>
        <%- include("../partials/footer") %>
      </footer>
  
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>
</body>
</html>