<!DOCTYPE html>
<html>

<head>
 <%- include("../partials/head") %>
 <script src="../js/productsJS/detailid.js"></script>
</head>



<body >
  
  <div class="container-fluid">

    
    <header>
      <%- include("../partials/header") %>
        
    </header>
    <!--Inicio secction-->

   <section class="container-fluid productos">
    <div class="row">
      <div class="col-12 tit">
        <h2 class="titulo-pizzas">Pizza <%=productos.categoria%></h2>
      </div>
    </div>
    
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
              <div class="card box" >
                <img src="../pizzas/<%= producto.imagen %>" class="card-img-top" alt="Pollo y bbq">
                <div class="card-body">
                <h1 class="card-title"><%=productos.nombre%></h1>
                <p class="card-text"><small><%=productos.detalle%>.</small></p>
                <h2>$<%=productos.precio_grande%></h2>
                <div class="btn-group">
                  <a href="/products/edit/<%=productos.id%>" class="btn btn-primary">Editar   <i ></i></a>
   <form action="/products/delete/<%=productos.id%>?_method=DELETE" class="delete-button" method="POST">
   <button type="submit" class="btn btn-danger" >
    Borrar
    </button>
  </form>
               
         </div> 
    </section>  
 
    

    <!--footer-->
   
      <%- include("../partials/footer")%>
    


</body>

</html>
