<!DOCTYPE html>
<html lang="en">
<head>  
  <%- include("../partials/head") %>
</head>
<body>

  <header>
    <%- include("../partials/header") %>
  </header>

<!--Inicio secction-->
<section class="  container ap ">

    <div class="container row wrap rt col-6">
          <form class="formulario container-fluid" action="/products/edit/<%=productos.id%>?_method=PUT" method="POST" >
            <% if (typeof errors != "undefined")  { %>
              <p style="color:red"></p>
              <ul>
                <% for (let i = 0; i < errors.length; i++) { %>
                  <li>
                    <%= errors[i].msg %>
                  </li>
                  <% } %>
              </ul>
              <% } %>
                    
            <div class="form-row">
                    <div class="form-group col-md-6">
                      <label >Categoria  </label>
                      <input type="text" name="categoria" class="form-control" value="<%=productos.categoria%>">
                    </div>
                    <div class="form-group col-md-6">
                      <label > Nombre</label>
                      <input type="text" name="nombre" class="form-control" value="<%=productos.nombre%>">
                    </div>
                  </div>
                  
                  <div  class="form-row ">
                    <div class="form-group col-md-3">
                      <label >Precio Individual</label>
                      <input type="text" name="precio_individual" class="form-control" value="<%=productos.precio_individual%>" >
                    </div>
                    <div class="form-group col-md-3">
                      <label > Precio Mediana</label>
                      <input type="text" name="precio_mediana" class="form-control" value="<%=productos.precio_mediana%>" >
                    </div>
                    <div class="form-group col-md-3">
                      <label >Precio Grande</label>
                      <input type="text" name="precio_grande" class="form-control" value="<%=productos.precio_grande%>" >
                    </div>



                  </div>
                  
                          
                  <div class="form-group">
                    <label for="inputAddress">Detalle</label>
                    <input type="text" class="form-control" name="detalle" placeholder="" value="<%=productos.detalle%>">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">Producto</label>
                      <input type="text" class="form-control"  name="producto" id="inputCity" value="<%=productos.producto%>">
                    </div>
                  </div>
                  <label >Imagen</label>
                  <input type="file" name="avatar" class="form-control-file" ><br>
                  <button type="submit" class="btn btn-danger">Editar</button>
                </form>
              </div>
                
                
    
  </section>

  
    
 
 <!--footer-->
  <%- include("../partials/footer") %>


 
</html>