<!DOCTYPE html>
<html lang="en">
<head>  
  <%- include("../partials/head") %>
</head>
<body>

  <header>
    <%- include("../partials/header") %>
  </header>

<!--Inicio secction-->
<section class="  container ap ">

    <div class="container row wrap rt col-6">
          <form class="formulario container-fluid" action="/products/edit/<%=productos.id%>?_method=PUT" method="POST" >
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label >Categoria  </label>
                      <input type="text" name="categoria" class="form-control" value="<%=productos.categoria%>">
                    </div>
                    <div class="form-group col-md-6">
                      <label > Nombre</label>
                      <input type="text" name="nombre" class="form-control" value="<%=productos.nombre%>">
                    </div>
                  </div>
                  
                  <div  class="form-row ">
                    <div class="form-group col-md-3">
                      <label >Precio Individual</label>
                      <input type="text" name="precio_individual" class="form-control" value="<%=productos.precio_individual%>" >
                    </div>
                    <div class="form-group col-md-3">
                      <label > Precio Mediana</label>
                      <input type="text" name="precio_mediana" class="form-control" value="<%=productos.precio_mediana%>" >
                    </div>
                    <div class="form-group col-md-3">
                      <label >Precio Grande</label>
                      <input type="text" name="precio_grande" class="form-control" value="<%=productos.precio_grande%>" >
                    </div>



                  </div>
                  
                          
                  <div class="form-group">
                    <label for="inputAddress">Detalle</label>
                    <input type="text" class="form-control" name="detalle" placeholder="" value="<%=productos.detalle%>">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">Producto</label>
                      <input type="text" class="form-control"  name="producto" id="inputCity" value="<%=productos.producto%>">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-danger">Editar</button>
                </form>
              </div>

              <div class="container  row wrap col-6 carga">
              <form action="/products/create" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                    <label >Imagen</label>
                    <input type="file" name="imagen" class="form-control-file" >
                  </div>
                </form>
              </div>
                
                
    
  </section>

  
    
 
 <!--footer-->
  <%- include("../partials/footer") %>


 
</html>