<!DOCTYPE html>
<html>

<head>
 <%- include("../partials/head") %>

</head>

<body >
  <div class="container-fluid">

    
    <header>
        <div class="container  col-12 col-sm-0 ">

            <div class="logo row ">
        
            <div class="logo crow">
              <img src="https://i.ibb.co/VC2xwhf/logo.jpg" width="100px" alt="logo"   >
            </div>
    </header>
    <!--Inicio secction-->

   <section class="container-fluid productos">
    <div class="row">
      <div class="col-12 tit">
        <h2 class="titulo-pizzas">Pizza <%=productos.categoria%></h2>
      </div>
    </div>
    
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
              <div class="card box" >
                <img src="<%=productos.imagen%>" class="card-img-top" alt="Pollo y bbq">
                <div class="card-body">
                <h1 class="card-title"><%=productos.nombre%></h1>
                <p class="card-text"><small><%=productos.detalle%>.</small></p>
                <h2><%=productos.precio_grande%></h2>
                <div class="btn-group">
                  <a href="/products/edit/<%=productos.id%>" class="btn btn-primary">Editar   <i ></i></a>
   <form action="/products/delete/<%=productos.id%>" method="POST">
   <button type="submit" class="btn btn-danger" >
    Borrar
    </button>
  </form>
               
         </div> 
    </section>  
 
    

    <!--footer-->
    <footer>
      <%- include("../partials/footer")%>
    </footer>

  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>